AMANA.IFP.Data/Service References/Elba/BilanzdatenELBA_mit_Policy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:impl="http://ifpev-schema.de/BilanzdatenELBA/_impl/FIDUCIAGAD" xmlns:hdr="http://www.ifpev.de/Protocol" xmlns:intf="http://ifpev-schema.de/BilanzdatenELBA" targetNamespace="http://ifpev-schema.de/BilanzdatenELBA/_impl/FIDUCIAGAD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="StandardProfile" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <!-- Definition der Signatur -->
        <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Always">
                  <wsp:Policy>
								  <sp:WssX509V3Token10 /> 
							  </wsp:Policy>
						  </sp:X509Token>
					  </wsp:Policy>
				  </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Always">
                  <wsp:Policy>
								  <sp:WssX509V3Token10 /> 
							  </wsp:Policy>
						  </sp:X509Token>
					  </wsp:Policy>
				  </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
						  <sp:Basic128 /> 
					  </wsp:Policy>
					  </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
							  <sp:Lax /> 
						  </wsp:Policy>
					  </sp:Layout>
				  </wsp:Policy>
			  </sp:AsymmetricBinding>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
				  <sp:Body /> 
				  <sp:Header Name="Identity" Namespace="http://www.ifpev.de/Protocol" /> 
				  <sp:Header Name="Protocol" Namespace="http://www.ifpev.de/Protocol" /> 
				  <sp:Header Name="Service" Namespace="http://www.ifpev.de/Protocol" /> 
				  <sp:Header Name="Target" Namespace="http://www.ifpev.de/Protocol" /><sp:Header Name="Session" Namespace="http://www.ifpev.de/Protocol" /><sp:Header Name="Ticket" Namespace="http://www.ifpev.de/Protocol" /><sp:Header Name="Channel" Namespace="http://www.ifpev.de/Protocol" /> 
			  </sp:SignedParts>
      </wsp:All>
   </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://www.ifpev.de/Protocol" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifpev.de/Protocol" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Channel" type="hdr:ns1ChannelHeaderTyp" />
      <xsd:element name="Identity" type="hdr:ns1IdentityHeaderTyp" />
      <xsd:complexType name="ns1ChannelHeaderTyp">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="version" type="xsd:string" />
          <xsd:element name="hersteller" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns1IdentityHeaderTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="userid" type="xsd:string" />
          <xsd:element name="institute">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="id" type="xsd:string" />
                <xsd:element name="client" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="provider" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns1ProtocolHeaderTyp">
        <xsd:sequence>
          <xsd:element name="version" type="xsd:string" />
          <xsd:element minOccurs="0" name="engine" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns1ServiceHeaderTyp">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="version" type="xsd:string" />
          <xsd:element name="method" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns1SessionHeaderTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="yourId" type="xsd:string" />
          <xsd:element minOccurs="0" name="myId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns1TargetHeaderTyp">
        <xsd:sequence>
          <xsd:element name="institute">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="id" type="xsd:string" />
                <xsd:element minOccurs="0" name="client" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="provider" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns1TicketHeaderTyp">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Protocol" type="hdr:ns1ProtocolHeaderTyp" />
      <xsd:element name="Service" type="hdr:ns1ServiceHeaderTyp" />
      <xsd:element name="Session" type="hdr:ns1SessionHeaderTyp" />
      <xsd:element name="Target" type="hdr:ns1TargetHeaderTyp" />
      <xsd:element name="Ticket" type="hdr:ns1TicketHeaderTyp" />
    </xsd:schema>
    <xsd:schema xmlns="http://ifpev-schema.de/BilanzdatenELBA" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ifpev-schema.de/BilanzdatenELBA" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="ns2AbschlussTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Software">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Versand" type="intf:ns2SoftwareTyp" />
                <xsd:element minOccurs="0" name="Erstellung" type="intf:ns2SoftwareTyp" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Bilanz">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Abschlussart" type="xsd:normalizedString" />
                <xsd:element name="Abschlussstichtag" type="xsd:date" />
                <xsd:element name="Bilanzierungsebene" type="xsd:normalizedString" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Taxonomie" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Kontenrahmen" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="IdentMerkmal" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Notiz" type="xsd:normalizedString" />
          <xsd:element name="Daten">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="XbrlAbschlussdaten" type="intf:ns2XbrlAbschlussdatenTyp" />
                <xsd:element maxOccurs="unbounded" name="Anhaenge" type="intf:ns3BinaerAnhangTyp" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2BilanzdatenTyp">
        <xsd:sequence>
          <xsd:element name="Absender" type="intf:ns2KanzleiTyp" />
          <xsd:element name="Empfaenger" type="intf:ns2EmpfaengerTyp" />
          <xsd:element name="Kunde">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Identifikationen" type="intf:ns2IdentifikationKundeTyp" />
                <xsd:element name="Name" type="xsd:normalizedString" />
                <xsd:element name="Adresse" type="intf:ns4AdresseTyp" />
                <xsd:element name="Kontaktdaten" type="intf:ns4KontaktdatenTyp" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="Abschluss" type="intf:ns2AbschlussTyp" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2EmpfaengerTyp">
        <xsd:sequence>
          <xsd:element name="BankID" type="intf:ns3BankIDTyp" />
          <xsd:element name="Anschrift" type="intf:ns4AdresseTyp" />
          <xsd:element name="Ansprechpartner" type="intf:ns4NameTyp" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2IdentifikationKundeTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Identifikation">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Art" type="xsd:normalizedString" />
                <xsd:element name="Wert" type="xsd:normalizedString" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2IdentifikationSteuerberaterTyp">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Identifikation">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Art" type="xsd:normalizedString" />
                <xsd:element name="Wert" type="xsd:normalizedString" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2KanzleiTyp">
        <xsd:sequence>
          <xsd:element name="Identifikationen" type="intf:ns2IdentifikationSteuerberaterTyp" />
          <xsd:element name="Adresse" type="intf:ns4AdresseTyp" />
          <xsd:element name="NameAbsender" type="intf:ns4NameEinfachTyp" />
          <xsd:element name="Kontaktdaten" type="intf:ns2KontaktdatenAbsenderTyp" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2KontaktdatenAbsenderTyp">
        <xsd:sequence>
          <xsd:element name="Ansprechpartner" type="intf:ns4NameTyp" />
          <xsd:element name="Telefon" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Email" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2SoftwareTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Name" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="ID" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Version" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Hersteller" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns2XbrlAbschlussdatenTyp">
        <xsd:sequence>
          <xsd:element name="XBRL">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns3BankIDTyp">
        <xsd:sequence>
          <xsd:element name="Art" type="xsd:normalizedString" />
          <xsd:element name="Wert" type="xsd:normalizedString" />
          <xsd:element name="Name" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns3BinaerAnhangTyp">
        <xsd:sequence>
          <xsd:element name="Typ" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="AnhangID" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Name" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Beschreibung" type="xsd:normalizedString" />
          <xsd:element name="Dokument" type="xsd:base64Binary" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns3QuittungTyp">
        <xsd:sequence>
          <xsd:element name="AnfrageBearbeitet" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="Hinweise">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Hinweis">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ID" type="xsd:normalizedString" />
                      <xsd:element name="Beschreibung" type="xsd:normalizedString" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns4AdresseTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Hausanschrift" type="intf:ns4HausanschriftTyp" />
          <xsd:element minOccurs="0" name="Postfach" type="intf:ns4PostfachTyp" />
          <xsd:element minOccurs="0" name="Land" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Bundesland" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns4HausanschriftTyp">
        <xsd:sequence>
          <xsd:element name="Strasse_Hausnummer" type="xsd:normalizedString" />
          <xsd:element name="PLZ" type="xsd:normalizedString" />
          <xsd:element name="Ort" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Teilort" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns4KontaktdatenTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Ansprechpartner" type="intf:ns4NameTyp" />
          <xsd:element name="Telefon" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Email" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns4NameEinfachTyp">
        <xsd:sequence>
          <xsd:element name="Name" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Namenszusatz" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Namensergaenzung" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns4NameTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Anrede" type="xsd:normalizedString" />
          <xsd:element name="Vorname" type="xsd:normalizedString" />
          <xsd:element name="Nachname" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Namenserweiterung" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ns4PostfachTyp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PLZ" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Ort" type="xsd:normalizedString" />
          <xsd:element minOccurs="0" name="Nummer" type="xsd:normalizedString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Rueckmeldung" type="intf:ns3QuittungTyp" />
      <xsd:element name="uebernehmeElbaDaten" type="intf:ns2BilanzdatenTyp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hdrChannelMsg">
    <wsdl:part name="hdrChannel" element="hdr:Channel" />
  </wsdl:message>
  <wsdl:message name="hdrIdentityMsg">
    <wsdl:part name="hdrIdentity" element="hdr:Identity" />
  </wsdl:message>
  <wsdl:message name="hdrProtocolMsg">
    <wsdl:part name="hdrProtocol" element="hdr:Protocol" />
  </wsdl:message>
  <wsdl:message name="hdrServiceMsg">
    <wsdl:part name="hdrService" element="hdr:Service" />
  </wsdl:message>
  <wsdl:message name="hdrSessionMsg">
    <wsdl:part name="hdrSession" element="hdr:Session" />
  </wsdl:message>
  <wsdl:message name="hdrTargetMsg">
    <wsdl:part name="hdrTarget" element="hdr:Target" />
  </wsdl:message>
  <wsdl:message name="hdrTicketMsg">
    <wsdl:part name="hdrTicket" element="hdr:Ticket" />
  </wsdl:message>
  <wsdl:message name="uebernehmeElbaDatenRequestMsg">
    <wsdl:part name="inDoc" element="intf:uebernehmeElbaDaten" />
  </wsdl:message>
  <wsdl:message name="uebernehmeElbaDatenResponseMsg">
    <wsdl:part name="outDoc" element="intf:Rueckmeldung" />
  </wsdl:message>
  <wsdl:portType name="BilanzdatenELBAPortType">
    <wsdl:operation name="uebernehmeElbaDaten">
      <wsdl:input name="uebernehmeElbaDatenRequest" message="impl:uebernehmeElbaDatenRequestMsg" />
      <wsdl:output name="uebernehmeElbaDatenResponse" message="impl:uebernehmeElbaDatenResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BilanzdatenELBASoapBinding" type="impl:BilanzdatenELBAPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uebernehmeElbaDaten">
      <soap:operation soapAction="http://ifpev-schema.de/BilanzdatenELBA/uebernehmeElbaDaten" style="document" />
      <wsdl:input name="uebernehmeElbaDatenRequest">
        <wsp:PolicyReference xmlns:wsp="http://www.w3.org/ns/ws-policy" URI="#StandardProfile" />
        <soap:header message="impl:hdrChannelMsg" part="hdrChannel" use="literal" />
        <soap:header message="impl:hdrIdentityMsg" part="hdrIdentity" use="literal" />
        <soap:header message="impl:hdrProtocolMsg" part="hdrProtocol" use="literal" />
        <soap:header message="impl:hdrServiceMsg" part="hdrService" use="literal" />
        <soap:header message="impl:hdrSessionMsg" part="hdrSession" use="literal" />
        <soap:header message="impl:hdrTargetMsg" part="hdrTarget" use="literal" />
        <soap:header message="impl:hdrTicketMsg" part="hdrTicket" use="literal" />
        <soap:body use="literal" parts="inDoc" />
      </wsdl:input>
      <wsdl:output name="uebernehmeElbaDatenResponse">
        <wsp:PolicyReference xmlns:wsp="http://www.w3.org/ns/ws-policy" URI="#StandardProfile" />
        <soap:header message="impl:hdrProtocolMsg" part="hdrProtocol" use="literal" />
        <soap:header message="impl:hdrSessionMsg" part="hdrSession" use="literal" />
        <soap:header message="impl:hdrTargetMsg" part="hdrTarget" use="literal" />
        <soap:header message="impl:hdrTicketMsg" part="hdrTicket" use="literal" />
        <soap:body use="literal" parts="outDoc" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BilanzdatenELBAService">
    <wsdl:port name="BilanzdatenELBAPort" binding="impl:BilanzdatenELBASoapBinding">
      <soap:address location="http://localhost/axis/services/BilanzdatenELBAPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>